.name-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    background-color: #4aaaa5;
    color: aliceblue;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.buttons > div {
    padding: 10px; 
    font-size: 16px;

} 
.header {
   
    width: 100%;
    background-color: #ffffff;
    /* border-bottom: #cccccc;
    border-width: 1rem;
    border-bottom-color: #777777; */
    border-bottom: 1px solid #cccccc;
}
.header-container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto; 
    margin-left: 10rem;
}
.container {
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 960px;    
}
.content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    height: 100%;
    margin: 20px;
}
.content-portfolio {
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.empty {
    min-height: 200px;
}
.image {
     /* width: 50px;
    height: 50px; */
} 
.image img {
    height: 150px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* background-color:#ffffff;  */
     margin: 0;
     background-image: url(../images/paper.png);
}
.detail{
    display: flex;
    justify-content: space-between;
    color: #777777;
    padding: 20px 0px 20px 0px;
}
.detail p{
    margin-left: 2rem;
    line-height: 1.5em;
    margin-top: 0px;

}
h2{
    color: #4aaaa5;
}
.line {
    background-color: #cccccc;
    width: 100%;
    height: 1px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .submit{
      background-color: #4aaaa5;
      width: 10rem;
  }
  .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #777777;
      /* border-top: 2rem; */
      border-top-color: #4aaaa5;
      border-top-width: 2rem;
       /* min-height: 3rem;  */
      padding-top: 30px;
      width: 100%;

  }